  <div class="panel-group" id="accordion">

  <div class="row">
           
                {{#each sections as |section|}}
                  <div id="{{section.name}}">
					{{#if section.select}}
                          {{component section.component section=section action=section.changeStep
                          baseImageUrl=baseImageUrl buttonText=calculateBtnText dontEdit=(action 'dontEditComponent')
                          toggleEdit=(action 'toggleEdit') currentStepName=currentStepName
                          onComponentLoad=(action "onEventTagging") onServerError=(action "onErrorTagging") info=Quote}}
                  {{/if}}
                  </div>
                  {{/each}}
                 
             </div>
   </div>          
 <div class="row">
<p>{{this.successMsg}}</p>
 </div>
 <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>


{{yield}}
