  <div class="row">
              <div class="col-md-12 center-block text-center">
                {{#each sections as |section|}}
                  <div id="{{section.name}}">
					{{#if section.select}}
                      <div class="row mb-4">
                        <div class="col-12 text-center getquote__component">
                          {{component section.component section=section action=section.changeStep
                          baseImageUrl=baseImageUrl buttonText=calculateBtnText dontEdit=(action 'dontEditComponent')
                          toggleEdit=(action 'toggleEdit') currentStepName=currentStepName
                          onComponentLoad=(action "onEventTagging") onServerError=(action "onErrorTagging") info=Quote}}
                        </div>
                      </div>
                  {{/if}}
                  </div>
                  {{/each}}
                 
             </div>
 </div>
 <div class="row">
<p>{{this.successMsg}}</p>
 </div>
 <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>


{{yield}}
