
<label for='{{labelId}}' >{{labelTxt}}</label>

      {{input type=type value=value placeholder=placeholder maxlength=maxlength  class="form-control" autocomplete=autoComplete
   name=name 
  disabled=disabled autofocus=autofocus }}

{{yield}}
